@model IEnumerable<KTS.Models.Inventory>

@{
    ViewBag.Title = "Products Inventory";
}

<div class="container body-content">

    <h2>Products Inventory</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GetProducts.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockAmt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GetProducts.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductModelName)
                </td>
                <td>
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.productImage)" width="90" height="90" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockAmt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.inventoryid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.inventoryid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.inventoryid })
                </td>
            </tr>
        }

    </table>
</div>