@model IEnumerable<KTS.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<div class="container body-content">

    <h2>Bookings</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.sessionUser)</th>
            <th>
                @Html.DisplayNameFor(model => model.GetServices.Serviceid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle_Registration)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sessionUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetServices.Serviceid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vehicle_Registration)
                </td>
                <td>
                  
            </tr>
        }

    </table>
    @ViewBag.day
</div>