@using KTS.Models
@{
    ViewBag.Title = "Shopping Cart";
}
<head>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

</head>

<body>
    <div class="container body-content">

        @{ if (Session["Cart"] != null)
            {
                using (Html.BeginForm("UpdateCart", "cart", FormMethod.Post))
                {

                    <div class="container body-table"></div>
                    <h2>Shopping Cart</h2>
                    <table border="1">


                        <tr>

                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Sub Total</th>
                        </tr>

                        @foreach (var cart in (List<Cart>)Session["Cart"])
                        {

                            <tr>


                                <td>@cart.Inv.ProductModelName</td>
                                <td>@cart.Inv.ProductDescription</td>
                                <td>@cart.Inv.Price</td>
                                <td>
                                    <input type="text" name="quantity" id="quantity" value="@cart.Quantity" /> &nbsp;<span id="errmsg"></span>
                                </td>
                                <td>@(String.Format("{0:N0}", cart.Inv.Price * cart.Quantity))</td>
                                <td>
                                    @Html.ActionLink("Delete Item", "DeleteCartItem", "Cart", new { id = cart.Inv.inventoryid }, new { onclick = "Return Confirm{'Are you sure you want to delet this item'};" })


                                </td>

                            </tr>



                        }





                    </table>

                 
                   

                    <input type="submit" value="Update cart" class="btn" />


                }



                @Html.ActionLink("Continue Shopping ", "ProductsRe", "Home") <br />

                @Html.ActionLink("Checkout", "Checkout", "Cart")



            }








        }
    </div>
</body>