@model KTS.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EsName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EsName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankAccNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankAccNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BranchCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BranchCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Eaddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Eaddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ecell)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ecell)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FascimleContact)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FascimleContact)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.taxNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.taxNo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmpNo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
