@model IEnumerable<KTS.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FascimleContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taxNo)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ecell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FascimleContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taxNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmpNo }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmpNo }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmpNo })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
