@{
    ViewBag.Title = "Admin";
}
<head>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body >
    <div class="container body-content">

        <div class="align-content-center">
            <h2>Administrator and Employee Use</h2>
            <i class='fas fa-lightbulb' style='font-size:24px;color:yellow'></i>
            @Html.ActionLink("Create a new Product Type", "Create", "ProductTypes")

            <br />
            <br />

            <i class='fas fa-file-alt' style='font-size:24px;color:green'></i>
            @Html.ActionLink("Add A new Brand ", "Create", "Brands")


            <br />
            <br />

            <i class='fas fa-file-alt' style='font-size:24px;color:green'></i>
            @Html.ActionLink("Add A new Supplier ", "Create", "Suppliers")
            <br />
            <br />

            <i class='fas fa-tag' style='font-size:24px;color:red'></i>
            @Html.ActionLink("Create a Procduct ", "Create", "Products")
            <br />


            <br />

            <i class='fas fa-tag' style='font-size:24px;color:red'></i>
            @Html.ActionLink("Add products to Inventory ", "Create", "Inventories")

            <br />


            <br />

            <i class='fas fa-tag' style='font-size:24px;color:red'></i>
            @Html.ActionLink("Add Service ", "Create", "Services")


        </div>
    </div>

</body> 
